@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

:root {
    --clr-bg: #FCF5F0;          
    --clr-primary: #D34A24;    
    --clr-primary-glow: rgba(211, 74, 36, 0.2);
    --clr-secondary: #E48A54;   
    --clr-text: #2B1611;       
    --clr-text-muted: #7D6B67;  
    --clr-glass: rgba(43, 22, 17, 0.03);
    --clr-glass-border: rgba(43, 22, 17, 0.1);

    --font-main: 'Outfit', system-ui, -apple-system, sans-serif;
    
    --radius-lg: 32px;
    --radius-md: 16px;
}
